/* ************************************************************************** */

@font-face {
	font-family: "ubuntu";
	src: url("/fonts/Ubuntu-R.ttf") format("truetype"),
		url("/fonts/Ubuntu-B.ttf") format("truetype"),
		url("/fonts/Ubuntu-I.ttf") format("truetype"),
		url("/fonts/Ubuntu-BI.ttf") format("truetype");
}

@font-face {
	font-family: "freeserif";
	src: url("/fonts/FreeSerif.ttf") format("truetype"),
		url("/fonts/FreeSerifBold.ttf") format("truetype"),
		url("/fonts/FreeSerifItalic.ttf") format("truetype"),
		url("/fonts/FreeSerifBoldItalic.ttf") format("truetype");
}

/* @font-face { */
/* 	font-family: 'Ubuntu'; */
/* 	font-style: normal; */
/* 	font-weight: 400; */
/* 	src: local('Ubuntu'), url(https://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic&subset=Latin) format('woff'); */
/* } */

* {
	font-size: 26px;
	box-sizing: border-box;
}

blockquote {
	font-style: italic;
}

.rssfeed {
	padding-top: 0%;
	font-size: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

.footer {
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

header {
	font-weight: bold;
	/* font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica; */
	font-family: freeserif, serif, Times, Georgia, Garamond;
	text-align: center;
	padding: 0%;
}

p {
	text-indent: 0%;
	line-height: 1.7;
}


h1 {
	font-size: 200%;
	padding-top: 3%;
	padding-bottom: 2%;
}
h2 {
	font-size: 150%;
	padding-top: 3%;
	padding-bottom: 2%;
}
h3 {
	font-size: 125%;
	padding-top: 3%;
	padding-bottom: 2%;
}
h4 {
	font-size: 110%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 110%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: freeserif, serif, Times, Georgia, Garamond;
	margin-bottom: 0%;
	border-radius: 0px;
	padding-bottom: 0.0%;
	padding-left: 0%;
	padding-right: 0%;
	/* display: inline-block; */
	text-align: left;
}

body {
	padding: 0px;
	/* font-family: freeserif, serif, Times, Georgia, Garamond; */
	margin: 0;
}

blockquote, q, abbr, address, cite, bdo {
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
}

p, ul, li, table {
	white-space: wrap;
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
}

li {
	font-size: 100%;
}

li span {
	font-size: 100%;
}

ul li:before {
	content: '\0000a0';
	list-style-type: square;
}

ol li {
	padding: 5px;
	margin-left: 35px;
}

ul li {
	padding: 5px;
	margin-left: 20px;
}

main {
	-ms-flex-wrap: wrap; /* IE10 */
	-ms-flex: 70%; /* IE10 */
	display: -ms-flexbox; /* IE10 */
	display: flex;
	flex-wrap: wrap;
	flex: 70%;
	font-size: 100%;
	margin: auto;
	padding-bottom: 0%;
	padding-left:  10%;
	padding-right: 10%;
	padding-top:    0%;
	/* padding: 5%; */
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center;
	clear: both;
}

/* For NEXTPREV.HTML */
#prevart {
	float: left;
	text-align: left;
}
#nextart {
	float: right;
	text-align: right;
}
#nextart,#prevart {
	margin-bottom: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	max-width: 33%;
	display: inline-block;
}

/* div(s) */
.thetitle {
	/* font-family: serif, Times, Georgia, Garamond; */
	font-size: 250%;
	/* border-radius: 0px; */
	border-radius: 5%;
	text-align: center;
	float: center;
	padding: 1%;
}

.thesubtitle {
	/* font-family: serif, Times, Georgia, Garamond; */
	font-size: 150%;
	padding: 1%;
}

.theauthors {
	/* font-family: serif, Times, Georgia, Garamond; */
	text-align: center;
	padding: 1%;
	font-style: normal;
	font-weight: normal;
}

.thedate {
	/* font-family: serif, Times, Georgia, Garamond; */
	padding: 1%;
	font-style: normal;
	font-weight: normal;
}

.summary {
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	font-size: 100%;
	white-space: wrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	padding: 1%;
}

.header {
	padding-bottom: 1%;
}

.subheader {
	padding: 1px;
	font-size: 100%;
	font-weight: bold;
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	text-align: center;
}

.theheadings {
	font-weight: bold;
	text-align: left;
	padding: 0px;
}

.collapse {
	font-weight: normal;
	text-align: left;
	padding: 2%;
	text-indent: 0%;
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	border: 0px solid black;
	border-radius: 0px;
	margin-top: 2%;
	margin-bottom: 2%;
} 

.tableofcontents {
	font-weight: normal;
	text-align: left;
	text-indent: 0%;
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	padding: 2%;
} 

.sitemap {
	font-weight: normal;
	text-align: left;
	padding: 1%;
	border-radius: 5px;
} 

.topbar {
	padding: 0px;
	font-size: 100%;
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	text-align: left;
	-ms-flex: 100%; /* IE10 */
	flex: 100%;
}

.topbaritem {
	font-weight: normal;
	text-align: left;
	padding: 1%;
	display: inline-block;
	clear: both;
	margin-bottom: 0mm;
	margin-right: 0mm;
	font-size: 150%;
	border-radius: 0px;
	border-radius: 5%;
}

.topbaritem:hover {
	font-weight: normal;
	text-align: left;
	padding: 1%;
	display: inline-block;
	clear: both;
	margin-bottom: 0mm;
	margin-right: 0mm;
	font-size: 150%;
	border-radius: 0px;
	border-radius: 5%;
}

.botbar {
	font-size: 100%;
	text-align: center;
	max-width: 100%;
	/* border-radius: 5px; */
	padding: 2%;
}

.highlight {
	/* margin-top: 2%; */
	/* margin-left: 5%; */
	/* margin-right: 5%; */
	padding: 2%;
	/* border: 1% solid black; */
	border-radius: 1%;
}

code {
	font-family: monospace;
	font-size: 100%;
	/* white-space: wrap; */
	/* padding: 5px; */
	/* border-radius: 2%; */
	/* background: #353535; */
	/* background-color: #353535; */
	/* background-color: #21222c; */
	/* padding-left: 4px; */
	/* padding-right: 4px; */
}

/* Column container */
main {  
}

/* Sidebar/left column */
.mainside {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	padding: 00px;
}

/* Main column */
.mainmain {   
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
	padding: 00px;
	padding-left: 0px;
}

.mainpad {
	padding: 20px;
}

@media screen and (max-width: 700px) {
	.mainrow {   
		flex-direction: column;
	}
}

/* .picleft { */
/* 	width: 65%; */
/* 	float: left; */
/* } */
/* .picright { */
/* 	width: 30%; */
/* 	float: right; */
/* } */


/* .lleft { */
/* 	width: 45%; */
/* 	float: left; */
/* 	clear: both; */
/* } */
/* .lright { */
/* 	width: 45%; */
/* 	float: right; */
/* } */

br {
	clear: both;
}

.serif {
	font-family: ubuntu, serif, Times, Georgia, Garamond;
	/* display: inline-block; */
}
.sans {
	font-family: ubuntu, sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
}

td {
	text-align: left;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 0.7%;
	width: 50%;
}

.left {
	width: 50%;
	float: left;
	clear: both;
}
.right {
	width: 50%;
	float: left;
	/* text-align: right; */
}

.imgleft {
	width: 65%;
	float: left;
	clear: both;
}
.imgright {
	width: 25%;
	text-align: center;
	float: right;
}

@media only screen and (max-width: 820px) {
	/* For mobile phones: */
	.left, .right, .imgright {
		width: 100%;
	}
	main {
		padding: 0%;
	}
	/* .right { */
	/* 	text-align: center; */
	/* } */
}

/* * { */
/* 	box-sizing: border-box; */
/* } */
