.topbaritem { background-color: #26292A; }
.topbar { background-color: #26292A; }
body { background-color: #26292A; }
.theheadings { background-color: #26292A; }
p { color: #bbbbbb; }
body { color: #bbbbbb; }
ul { color: #bbbbbb; }
li { color: #bbbbbb; }
table { color: #bbbbbb; }
h5 { color: #bbbbbb; }
h6 { color: #bbbbbb; }
.theheadings { color: #bbbbbb; }
a { color: #ffffff; }
.topbaritem:hover { background-color: #181A1B; }
.header { background-color: #181A1B; }
.botbar { background-color: #181A1B; }
.theheadings { color: #cccccc; }
#nextart:hover { color: #000; }
#prevart:hover { color: #000; }
a:hover { color: #000; }
#nextart:hover { background-color: #ffffff; }
#prevart:hover { background-color: #ffffff; }
a:hover { background-color: #ffffff; }
.thetitle { color: #ffffff; }
.thetitle { background-color: #181A1B; }
blockquote { border-left: 3px solid #cccccc; }
h1 { color: #ffffff; }
h2 { color: #ffffff; }
h3 { color: #ffffff; }
h4 { color: #ffffff; }
h5 { color: #ffffff; }
.highlight { background-color: #282A36; }
