
/* Sans {{{ */
@font-face {
r font-family: "CMU Sans Serif";
  src: local("CMU Sans Serif"), local("Computer Modern Sans Serif"), url('cmu.sans-serif-medium.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
  font-family: "CMU Sans Serif";
  src: local("CMU Sans Serif"), local("Computer Modern Sans Serif"), url('cmu.sans-serif-bold'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: local("CMU Sans Serif") url('cmu.sans-serif-oblique.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "CMU Sans Serif";
  src: local("CMU Sans Serif") url('cmu.sans-serif-boldoblique.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
/* }}} */

/* Serif {{{ */
@font-face {
  font-family: "CMU Serif";
  src: local("CMU Serif") url('cmu.serif-roman.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunrm.otf');
}

@font-face {
  font-family: "CMU Serif";
  src: local("CMU Serif") url('cmu.serif-bold.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "CMU Serif";
  src: local("CMU Serif") url('cmu.serif-italic.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunci.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "CMU Serif";
  src: local("CMU Serif") url('cmu.serif-bolditalic.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbi.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
/* }}} */

/* Mono / Typewriter {{{ */
@font-face {
  font-family: "CMU Typewriter Text";
  src: local("CMU Typewriter Text"), local("CMU Typewriter"), url('cmu.typewriter-text-regular.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmuntt.otf');
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: local("CMU Typewriter Text"), local("CMU Typewriter"), url('cmu.typewriter-text-bold.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmuntb.otf');
  font-weight: bold;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: local("CMU Typewriter Text"), local("CMU Typewriter"), url('cmu.typewriter-text-italic.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunit.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "CMU Typewriter Text";
  src: local("CMU Typewriter Text"), local("CMU Typewriter"), url('cmu.typewriter-text-bolditalic.ttf'), url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmuntx.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
/* }}} */

