
@font-face {
font-family: CMUSansSerif;
  src: url('/fonts/cmu.sans-serif-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CMUSansSerif;
  src: url('/fonts/cmu.sans-serif-bold');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CMUSansSerif;
  src: url('/fonts/cmu.sans-serif-oblique.ttf') format('truetype');
  font-style: italic, oblique;
  font-weight: normal;
}

@font-face {
  font-family: CMUSansSerif;
  src: url('/fonts/cmu.sans-serif-boldoblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: CMUSerif;
  src: url('/fonts/cmu.serif-roman.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: CMUSerif;
  src: url('/fonts/cmu.serif-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CMUSerif;
  src: url('/fonts/cmu.serif-italic.ttf') format('truetype');
  font-style: italic, oblique;
  font-weight: normal;
}

@font-face {
  font-family: CMUSerif;
  src: url('/fonts/cmu.serif-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: CMUTypewriterText;
  src: url('/fonts/cmu.typewriter-text-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: CMUTypewriterText;
  src: url('/fonts/cmu.typewriter-text-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CMUTypewriterText;
  src: url('/fonts/cmu.typewriter-text-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic, oblique;
}

@font-face {
  font-family: CMUTypewriterText;
  src: url('/fonts/cmu.typewriter-text-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic, oblique;
}

