<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/style.css" />
        <title>{{.Contacts.Name}}'s Resume</title>
    </head>
    <body>
        <h1>{{.Contacts.Name}}</h1>
        <div class="subtitle">
            <h2>{{.Position}}</h2>
        </div>
        <!-- <hr> -->
        <div class="row">
            <div class="column">
                <div class="innercolumn">
                    <h3>About</h3>
                    <div class="container">
                        <div class="contabout">
                            <ul>
                                <p>
                                {{range .Tagline}}
                                <!-- <li>{{.}}</li> -->
                                {{.}}
                                {{end}}
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="innercolumn">
                    <h3>Contacts</h3>
                    <q>
                        <div class="container">
                            <table>
                                {{ range .Contacts.Links }}
                                <tr>
                                    <td>{{ .Name }}</td>
                                    <td><a href="{{ .URL }}">{{ .Text }}</a></td>
                                </tr>
                                {{ end }}
                            </table>
                        </div>
                    </q>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="innercolumn">
                            <h3>Education</h3>
                            <div class="container">
                                <div class="containerbox">
                                    {{range .Education}}
                                    <!-- <ul> -->
                                    <!--     <li>{{.Degree}} in {{.Major}}</li> -->
                                    <!-- </ul> -->
                                    <!-- <h4>{{.Degree}} in {{.Major}} from {{.Place.Name}}</h4> -->
                                    <!-- <p><strong>From:</strong> {{.From}} <strong>To:</strong> {{.To}}</p> -->
                                    <q>
                                        <span class="hl">{{.Degree}}</span>
                                        in
                                        <span class="hl">{{.Major}}</span>
                                        <ul>
                                            <li>
                                                <strong>From:</strong>
                                                <span class="hl">{{.From}}</span>
                                                <strong>To:</strong>
                                                <span class="hl">{{.To}}</span>
                                            </li>
                                        </ul>
                                    </q>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
            <div class="column">
                <div class="innercolumn">
                    <h3>Skills</h3>
                    <div class="container">
                        <div class="contaitem">
                            <ul>
                                {{range .Skills}}
                                <span class="hl">{{.}}</span>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <!--     <div class="column"> -->
                <div class="innercolumn">
                    <h3>Tools</h3>
                    <div class="container">
                        <div class="contaitem">
                            <ul>
                                {{range .Tools}}
                                <span class="hl">{{.}}</span>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- <div class="column"> -->
                <div class="innercolumn">
                    <h3>Programming</h3>
                    <div class="container">
                        <div class="contaitem">
                            <ul>
                                {{range .Programming}}
                                <span class="hl">{{.}}</span>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="innercolumn">
                    <h3>Languages</h3>
                    <div class="container">
                        <ul>
                            {{range .Languages}}
                            <span class="hl">{{.}}</span>
                            {{end}}
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column">
                    <div class="innercolumn">
                        <h3>Work Experiences</h3>
                        <!-- <div class="scrollcolumn"> -->
                        <div class="container">
                            <ul>
                                {{range $i, $job := .Jobs}}
                                <div class="innermostcolumn">
                                    <button class="popup-btn" data-popup="job-{{$i}}">
                                        <li>
                                            {{ $job.Position }}
                                        </li>
                                    </button>
                                    <div id="job-{{$i}}" class="popup">
                                        <div class="popup-content">
                                            <h4>
                                                {{ $job.Position }}
                                                <span class="close" data-popup="job-{{$i}}">&times;</span>
                                            </h4>
                                            <div class="popup-inner-content">
                                                <p><strong>From:</strong> {{ $job.From }} &mdash; <strong>To:</strong> {{ $job.To }}</p>
                                                <p><strong>Description:</strong></p>
                                                <ul>
                                                    {{range $job.Description}}
                                                    <li>{{.}}</li>
                                                    {{end}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{end}}
                            </ul>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="column">
                    <div class="innercolumn">
                        <h3>Projects</h3>
                        <!-- <div class="scrollcolumn"> -->
                        <div class="container">
                            <ul>
                                {{range $i, $project := .Projects}}
                                <div class="innermostcolumn">
                                    <button class="popup-btn" data-popup="project-{{$i}}">
                                        <li>
                                            {{ $project.Name }}
                                        </li>
                                    </button>
                                    <div id="project-{{$i}}" class="popup">
                                        <div class="popup-content">
                                            <h4>
                                                {{ $project.Name }}
                                                <!-- <span class="close" data-popup="project-{{$i}}">&times;</span> -->
                                                <span class="close" data-popup="project-{{$i}}">&times;</span>
                                            </h4>

                                            <div class="popup-inner-content">
                                                <p><strong>Description:</strong></p>
                                                <ul>
                                                    {{range $project.Description}}
                                                    <li>{{.}}</li>
                                                    {{end}}
                                                </ul>
                                                <a class="project-link" href="{{ $project.URL }}">View Project</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {{end}}
                            </ul>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        <!-- <hr> -->
        <div class="row">
            <div class="column">
                <div class="innercolumn">
                    <!-- <details> -->
                    <!--     <summary>Certifications</summary> -->
                    <!--     <p> -->
                    <!--         <div class="container"> -->
                    <!--             <ul> -->
                    <!--                 {{range .Achievements}} -->
                    <!--                 <li><strong>{{.Name}}</strong> {{.Description}}</li> -->
                    <!--                 {{end}} -->
                    <!--             </ul> -->
                    <!--         </div> -->
                    <!--     </p> -->
                    <!-- </details> -->

                <!-- norm -->

                <!--     <h3>Certifications</h3> -->
                <!--     <div class="container"> -->
                <!--         <ul> -->
                <!--             {{range .Achievements}} -->
                <!--             <li><strong>{{.Name}}</strong> {{.Description}}</li> -->
                <!--             {{end}} -->
                <!--         </ul> -->
                <!--     </div> -->
                <!-- </div> -->

            </div>
        <div class="column">
        </div>
    </div>
    <script src="./static/popup.js"></script> 
</body>
</html>
