/* hos dark theme
 */

:root {
	--base00: #282A2E;
	--base01: #373B41;
	--base02: #151515;
	--base03: #707880;
	--base04: #b8b8b8;
	--base05: #d8d8d8;
	--base06: #e8e8e8;
	--base07: #f8f8f8;
	--base08: #CC6666;
	--base09: #DE935F;
	--base0A: #f7ca88;
	--base0B: #B5BD68;
	--base0C: #8ABEB7;
	--base0D: #81A2BE;
	--base0E: #B294BB;
	--base0F: #A54242;
}
