@font-face {
    font-family: 'custom-mono';
    src: url('./NotoSansMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'custom-mono';
    src: url('./NotoSansMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'custom-mono';
    src: url('./NotoSansMono-I.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'custom-mono';
    src: url('./NotoSansMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'custom-sans';
    src: url('./LiberationSans-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'custom-sans';
    src: url('./LiberationSans-B.ttf') format('truetype');
    font-weight: bold;
    font-style: noraml;
}
@font-face {
    font-family: 'custom-sans';
    src: url('./LiberationSans-I.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'custom-sans';
    src: url('./LiberationSans-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'custom-serif';
    src: url('./LibertinusSans-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'custom-serif';
    src: url('./LibertinusSans-B.ttf') format('truetype');
    font-weight: bold;
    font-style: noraml;
}
@font-face {
    font-family: 'custom-serif';
    src: url('./LibertinusSans-I.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'custom-serif';
    src: url('./LibertinusSans-B.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
