/* fonts */
@import url(./font/font.css);

* {
    color: #bbbbbb;
    font-family: "custom-sans", sans-serif;
    font-size: 1em;
    text-align: left;
}
hr {
    border: none;
    height: 0px;
    background-color: #aaaaaa;
    margin: 22px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "custom-serif", sans-serif;
    /* text-transform: uppercase; */
}
body {
    font-family: "custom-sans", sans-serif;
    margin: 20px;
    background-color: #08090D;
    color: #EAF7F7;
}
h1, h2, h3 {
    color: #C5FFFF;
}
/* h3 { */
/*     text-transform: uppercase; */
/* } */
h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 {
    font-family: "custom-serif", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    color: #C5FFFF;
}
h4 {
    font-size: 1.1em;
    font-family: "custom-sans", sans-serif;
    text-indent: 0.5em;
    color: #8BAFC5;
    padding: 1em;
    gap: 20em;
}
table {
    white-space: nowrap;
    overflow-x: auto;
}
td {
    padding-right: 20px;
}

ul {
    /* list-style-type: none;  */
    padding: 0;
}
li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1em;
}
a {
    font-size: 0.9em;
    font-family: "custom-mono", monospace;
    color: #6ee2ff;
    text-decoration: none;
    padding: 10px;
    .hl {
        color: inherit;
    }
}
a:hover {
    color: #111111;
    background-color: #6ee2ff;
    .hl {
        color: inherit;
        background-color: inherit;
    }
}
details > summary {
    list-style-type: '>> ';
    font-size: 1.0em;
    cursor: pointer;
}
details[open] > summary {
    list-style-type: '>> ';
}
details > summary::after {
    content: ' ';
}
details[open] > summary::after {
    content: ' ';
}
details > summary::before {
    content: ' ';
}
details[open] > summary::before {
    content: ' ';
}
ul  {
    padding-left: 20px;
    /* list-style: " > "; */
}
ul li {
    margin-left: 0.3em;
}
q {
    quotes: none; /* Remove default quotation marks */
    padding-left: 20px;
    margin-left: 20px;
    display: inline-block; /* Ensure padding is applied correctly */
}

.contaitem, td {
    line-height: 2.3;
}
.headcontainer {
    display: flex;
    justify-content: space-between; /* Space between the two elements */
    width: 100%; /* Full width for the container */
}
.innermostcolumn {
    h4, details > p, details > summary {
        padding: 5px;
    }
    details > .container {
        padding: 5px;
        font-size: 1.0em;
    }
}
.innermostcolumn:hover {
    h4, details > p, details > summary {
        color: #0c141f;
        background-color: #8BAFC5;
    }
    details > .container {
        padding: 5px;
        color: #ffffff;
        font-size: 1.0em;
        background-color: #0c141f;
    }
}
.hl {
    font-size: 0.9em;
    font-family: "custom-mono", monospace;
    border: 0.1em solid #17262D;
    padding: 0.3em;
    border-radius: 0.3em;
    margin-right: 0.1em;
}
.containerb {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #8888aa;
    padding: 10px;
    margin: 20px;
    border-radius: 1em;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
}
.contabout {
    line-height: 1.5;
}
.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.scrollcolumn {
    overflow: auto;
    height: 230px;
}
.column {
    flex: 1;
    min-width: 300px;
}

.popup-btn, button {
    color: #8BAFC5;
    background-color: #08090D;
    border: 1px solid #08090D;
    border-radius: 0.3em;
    padding-left: 1.3em;
    padding-right: 1em;
    cursor: pointer;
    li {
        padding-left: 0.0em;
        color: #bbbbbb;
        font-size: 1.0em;
    }
    margin: 0.3em;
    font-size: 1.0em;
}
.innercolumn {
    .container {
        padding-left: 1.0em;
    }
}
.innercolumn:hover {
    h3 {
        color: #08090D;
        background-color: #C5FFFF;
    }
    .popup-btn, button {
        color: #8BAFC5;
        background-color: #0c141f;
        border: 1px solid #17262D;
        li {
            color: #bbbbbb;
        }
    }
    .popup-btn:hover, button:hover {
        color: #0c141f;
        background-color: #8BAFC5;
        li {
            color: #0c141f;
            background-color: #8BAFC5;
        }
    }
    /* #6ee2ff */
    /* #C5FFFF */
    /* #8888aa */
    /* #8BAFC5 */
    /* #17262D */
    /* #0c141f */
    .hl {
        font-family: "custom-mono", monospace;
        background-color: #0c141f;
        border: 0.1em solid #17262D;
    }
}

.containerbox:hover {
    bacground-color: #ff7700;
}

/* Popup background */
.popup {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

/* Popup content */
.popup-content {
    ul {
        padding-bottom: 20px;
    }
    background-color: #0c141f;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 0.1em;
    border-radius: 0.8em;
    width: 60%;
    max-width: 50em;
    max-height: 30em;
    .popup-inner-content {
        display: grid; /* Use grid layout */
        grid-template-columns: 1fr; /* Single column layout */
        overflow-x: auto;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1em;
    }
    .project-link {
        background-color: #08090D;
        border: 0.1em solid #8BAFC5;
        padding: 0.5em;
        margin-right: 1em;
        border-radius: 0.5em;
        margin-top: auto;          /* Push link to the bottom */
        align-self: start;         /* Align to the start of the grid cell */
        text-decoration: none; /* Optional styling */
    }
    .project-link:hover {
        background-color: #6ee2ff;
        color: #111111;
    }
}


/* Close button */
.close {
    color: #000;
    float: right;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.getpdf {
    float: right;
    border-radius: 0.5em;
    a {
        background-color: #0c141f;
        border: 0.1em solid #17262D;
        padding: 0.5em;
        margin-right: 1em;
        border-radius: 0.5em;
    }
    a:hover {
        background-color: #6ee2ff;
        color: #111111;
    }
    text-margin: left;
}
.innertable {
    padding-left: 1em;
}
.mainmain {
	max-width: 1000px;
    margin: auto;
	width: 100%;
}
.certcontainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3em;
  line-height: 2.0;
}
.certcolumn {
  flex: 0 0 calc(50% - 0.5rem);
  box-sizing: border-box;
}

/* responsive */
@media (max-width: 700px) {
    .column, .innercolumn, .certcolumn {
        flex: 100%;
        line-height: 2.3;
    }
    .getpdf {
        float: left;
    }
    .popup-inner-content {
        width: 60%;
        max-width: 30em;
        max-height: 20em;
        overflow-y: auto;
        overflow-x: auto;
    }
}
